{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">
    {% for dict in final2_dictionary %}
    <div class='col s4 mt-5'>
        <div class="card" style="width: 18rem;">
            <img src="{{dict.2}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{dict.0}}</h5>
                <form action="/moviepage" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0" 
                            style="background-color: #1577DC; color:white" value="{{dict.1}}" name="submit" type="submit">Watch Movie
                </button>
                </form>
            </div>
        </div>
    </div>

{% endfor %}
<h1>{{a}}</h1>
</div>
{% endblock content %}
